.main_p{
    background: #e8e9eb;
    grid-area: main;
    overflow-y: auto;
}

.produto__container{
    padding: 20px 35px;
}

.btn_novo{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.card_button_novo{
   
    box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
    border: none;
    border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.card_button_novo:hover{
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99; 
}

.card_button_novo:active{
    position:relative;
	top:1px;
}
.card_icon > i{
    font-size: 26px;
    color: #ffffff;
}

.btn_link_entry_pro{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    
}
.btn{
    box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
    border: none;
    border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.btn_add{
    box-shadow: 0px 10px 14px -7px #276873;
	background-color:#60b359;
    border: none;
    border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.btn_add:hover{
	background-color:#46cc3a; 
}

.btn > a{
    font-size: 20px;
    color: #ffffff;
    text-decoration:none;
    
}

.card_produtct{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.row{
    display: flex;
    flex-direction: row;
}

.form_product{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-start;
    flex-direction: row;
}

.form_container{
    justify-content: center;
    width: 40%;
    height: 40%;  
}

.form__grup{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form__grup > label{
    margin-bottom: 5px ;
    font-size: 15px;
    color: #555;
}

.form__grup .valor{
 width: 100px;
}
input{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #AAA;
    outline: none;
    font-size: 20px;
}

input[type="number"]{
    width: 80px;
    
}

input[type="date"]{
    width: 180px;
    
}
