produto{
    background: #e8e9eb;
    grid-area: main;
    overflow-y: auto;
}

.produto__container{
    padding: 20px 35px;
}

.btn_novo{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.card_button_novo{
   
    box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
    border: none;
    border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.card_button_novo:hover{
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99; 
}

.card_button_novo:active{
    position:relative;
	top:1px;
}
.card_icon > i{
    font-size: 26px;
    color: #ffffff;
}

.title_form_modal{
    display: flex;
    justify-content: center;  
}

.modal__form{
    justify-content: center;
    width: 50%;
    height: 50%;    
}

form{
    width: 100%;
    margin: 15px 0;    
}

.form__grup{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__grup > label{
    margin-bottom: 5px ;
    font-size: 15px;
    color: #555;
}

input[type=text], textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #AAA;
    outline: none;
    font-size: 15px;
}
.form__grup > select{
    width: 150px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(223, 218, 218);
    outline: none;
    font-size: 20px;
}
.form__button__salvar >button{
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.form__button__salvar >button:hover{
    background: #127194;
}

.btn_table_edit{
    margin-right: 10px;
}
.btn_edit{
    border: none;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 25px;
    color: #17d336;
    cursor: pointer;
}
.btn_edit:hover{
    color: #0c7c1f ;
}

.btn_table_delete{
    margin-right: 10px;
}
.btn_delete{
    border: none;

    background-color: #fff;
    padding: 5px 10px;
    font-size: 25px;
    color: #f03242;
    cursor: pointer;
}
.btn_delete:hover{
    color: #b91624 ;
}